* {
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #3B293B;
}

h1 {
    padding: 0 0 5px 0;
    font-size: 35px;
    text-align: center;
}

#home-instructions {
    text-align: center;
    padding: 0 15% 1% 15%;
    font-size: 18px;
}

.quiz-btn {
    padding: 5px 25px;
    background-color: #875D87;
    border-radius: 10px;
    color: #EEEEEE;
    text-decoration: none;
    font-size: 18px;
}

.quiz-btn:hover {
    background-color: #D4A7D4;
    font: #FFFFFF;
}

.highscores-box {
    padding: 20px;
}

.highscores-btn {
    text-decoration: none;
    color: #875D87;
    font-size: 18px;
}

.home-box {
    width: 80vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.home-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 30px;
}

.choice-box {
    display: flex;
    flex-direction: column;
    padding: 10px 0px 10px 0;
    margin: 5px 100px 5px 0px;
    font-size: 20px;
}

.choice {
    padding: 13px 10px;
    margin: 5px 100px 5px 0px;
    width: 250px;
    height: 50px;
    background-color: #875D87;
    border-radius: 10px;
    color: #EEEEEE;
}

.choice:hover {
    background-color: #D4A7D4;
    font: #FFFFFF;
    cursor: pointer;
}